<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="{{url_for('static',filename='styles/styles.css')}}"/>
    <link rel='icon' href="{{url_for('favicon')}}"/>
    <title>MedicAware_API_(ME-22102021-232027)</title>
    <!--
                                                                                                                                               
 _|      _|                  _|  _|              _|_|                                                            _|_|    _|_|_|    _|_|_|  
 _|_|  _|_|    _|_|      _|_|_|        _|_|_|  _|    _|  _|      _|      _|    _|_|_|  _|  _|_|    _|_|        _|    _|  _|    _|    _|    
 _|  _|  _|  _|_|_|_|  _|    _|  _|  _|        _|_|_|_|  _|      _|      _|  _|    _|  _|_|      _|_|_|_|      _|_|_|_|  _|_|_|      _|    
 _|      _|  _|        _|    _|  _|  _|        _|    _|    _|  _|  _|  _|    _|    _|  _|        _|            _|    _|  _|          _|    
 _|      _|    _|_|_|    _|_|_|  _|    _|_|_|  _|    _|      _|      _|        _|_|_|  _|          _|_|_|      _|    _|  _|        _|_|_|  
                                                                                                                                           
                                                                                                                                           
    API for MedicAware
    BY AADITYA RENGARAJAN
    CREATION TIMESTAMP : 23:20 10/22/21 22 10 2021
    -->
    <!-- METAS -->
    <meta charset="utf-8">
    <meta content="MedicAware API - API for MedicAware" name="description" />
    <meta content="aaditya rengarajan, aadityarengarajan, MedicAware API, API for MedicAware" name="keywords" />
    <meta name="revisit-after" content="2 days">
    <meta name="page-topic" content="API for MedicAware">
    <meta name="page-type" content="API for MedicAware">
    <meta name="copyright" content="Copyright  2021, MedicAware API by aadityarengarajan,API for MedicAware">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.5" name="viewport" />
    <meta name="subject" content="MedicAware API | API for MedicAware">
    <meta name="copyright"content="MedicAware API by aadityarengajan">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="abstract" content="MedicAware API">
    <meta name="topic" content="MedicAware API | API for MedicAware">
    <meta name="summary" content="[HOME] MedicAware API | API for MedicAware">
    <meta name="author" content="aadityarengarajan, aaditya@intellx.co.in">
    <meta name="designer" content="MedicAware API">
    <meta name="reply-to" content="aaditya@intellx.co.in">
    <meta name="owner" content="aadityarengarajan">
    <meta name="category" content="API for MedicAware">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="og:title" content="MedicAware API"/>
    <meta name="og:site_name" content="MedicAware API"/>
    <meta name="og:description" content="API for MedicAware"/>
    <meta name="og:email" content="support@intellx.co.in"/>
    <meta name="og:latitude" content="10"/>
    <meta name="og:longitude" content="80"/>
    <meta name="og:street-address" content="India"/>
    <meta name="og:locality" content="India"/>
    <meta name="og:region" content="India"/>
    <meta name="og:country-name" content="India"/>
    <meta name="twitter:title" content="MedicAware API">
    <meta name="twitter:description" content="API for MedicAware">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content="no" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale = 1, user-scalable = yes">
    <meta http-equiv="Page-Enter" content="RevealTrans(Duration=2.0,Transition=2)" />
    <meta http-equiv="Page-Exit" content="RevealTrans(Duration=3.0,Transition=12)" />
    <meta name="mssmarttagspreventparsing" content="true">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="msapplication-navbutton-color" content="blue"/>
    <meta name="application-name" content="MedicAware API | API for MedicAware"/>
    <meta name="msapplication-tooltip" content="API for MedicAware (MedicAware API)"/>
    <!-- END OF METAS -->
  </head>
  <body>
  <script src="{url_for('static',filename='scripts/jquery.min.js')}"></script>
  <script src="{url_for('static',filename='scripts/scripts.js')}"></script>
  </body>
</html>