<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="{{url_for('static',filename='styles/styles.css')}}"/>
    <link rel='icon' href="{{url_for('favicon')}}"/>
    <title>MedicAware_Patients_(ME-22102021-232105)</title>
    <!--
                                                                                                                                                                                             
 _|      _|                  _|  _|              _|_|                                                          _|_|_|                _|      _|                        _|                
 _|_|  _|_|    _|_|      _|_|_|        _|_|_|  _|    _|  _|      _|      _|    _|_|_|  _|  _|_|    _|_|        _|    _|    _|_|_|  _|_|_|_|        _|_|    _|_|_|    _|_|_|_|    _|_|_|  
 _|  _|  _|  _|_|_|_|  _|    _|  _|  _|        _|_|_|_|  _|      _|      _|  _|    _|  _|_|      _|_|_|_|      _|_|_|    _|    _|    _|      _|  _|_|_|_|  _|    _|    _|      _|_|      
 _|      _|  _|        _|    _|  _|  _|        _|    _|    _|  _|  _|  _|    _|    _|  _|        _|            _|        _|    _|    _|      _|  _|        _|    _|    _|          _|_|  
 _|      _|    _|_|_|    _|_|_|  _|    _|_|_|  _|    _|      _|      _|        _|_|_|  _|          _|_|_|      _|          _|_|_|      _|_|  _|    _|_|_|  _|    _|      _|_|  _|_|_|    
                                                                                                                                                                                         
                                                                                                                                                                                         
    Patients Client for MedicAware
    For SOSC HackNight 2021
    BY AADITYA RENGARAJAN
    CREATION TIMESTAMP : 23:21 10/22/21 22 10 2021
    -->
    <!-- METAS -->
    <meta charset="utf-8">
    <meta content="MedicAware Patients - Patients Client for MedicAware" name="description" />
    <meta content="aaditya rengarajan, aadityarengarajan, MedicAware Patients, Patients Client for MedicAware" name="keywords" />
    <meta name="revisit-after" content="2 days">
    <meta name="page-topic" content="Patients Client for MedicAware">
    <meta name="page-type" content="Patients Client for MedicAware">
    <meta name="copyright" content="Copyright  2021, MedicAware Patients by aadityarengarajan,Patients Client for MedicAware">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.5" name="viewport" />
    <meta name="subject" content="MedicAware Patients | Patients Client for MedicAware">
    <meta name="copyright"content="MedicAware Patients by aadityarengajan">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="abstract" content="MedicAware Patients">
    <meta name="topic" content="MedicAware Patients | Patients Client for MedicAware">
    <meta name="summary" content="[HOME] MedicAware Patients | Patients Client for MedicAware">
    <meta name="author" content="aadityarengarajan, aaditya@intellx.co.in">
    <meta name="designer" content="MedicAware Patients">
    <meta name="reply-to" content="aaditya@intellx.co.in">
    <meta name="owner" content="aadityarengarajan">
    <meta name="category" content="Patients Client for MedicAware">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="og:title" content="MedicAware Patients"/>
    <meta name="og:site_name" content="MedicAware Patients"/>
    <meta name="og:description" content="Patients Client for MedicAware"/>
    <meta name="og:email" content="support@intellx.co.in"/>
    <meta name="og:latitude" content="10"/>
    <meta name="og:longitude" content="80"/>
    <meta name="og:street-address" content="India"/>
    <meta name="og:locality" content="India"/>
    <meta name="og:region" content="India"/>
    <meta name="og:country-name" content="India"/>
    <meta name="twitter:title" content="MedicAware Patients">
    <meta name="twitter:description" content="Patients Client for MedicAware">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content="no" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale = 1, user-scalable = yes">
    <meta http-equiv="Page-Enter" content="RevealTrans(Duration=2.0,Transition=2)" />
    <meta http-equiv="Page-Exit" content="RevealTrans(Duration=3.0,Transition=12)" />
    <meta name="mssmarttagspreventparsing" content="true">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="msapplication-navbutton-color" content="blue"/>
    <meta name="application-name" content="MedicAware Patients | Patients Client for MedicAware"/>
    <meta name="msapplication-tooltip" content="Patients Client for MedicAware (MedicAware Patients)"/>
    <!-- END OF METAS -->
  </head>
  <body>
    <div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <div class="login">
                        <form method="POST" action="{{url_for('sign_in')}}" enctype="multipart/form-data">
                        
                            <div class="group"> <label for="user" class="label">E-Mail</label> <input id="user" type="email" name="email" class="input" placeholder="Enter your e-mail"></div>
                            <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" name="password" type="password" class="input" data-type="password" placeholder="Enter your password"> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                            <input type="hidden" name="type" value="login"/>
                        </form>
                        </div>
                        <div class="sign-up-form">
                        <form method="POST" action="{{url_for('sign_in')}}" enctype="multipart/form-data">
                            <div class="group"> <label for="fname" class="label">Name</label> <input id="fname" name="name" type="text" class="input" placeholder="Enter Your Full Name" required> </div>
                            <div class="group"> <label for="email" class="label">E-Mail</label> <input id="email" type="email" name="email" class="input" data-type="email" placeholder="Enter your email address" required> </div>
                            <div class="group"> <label for="phone" class="label">Phone #</label> <input id="phone" type="number" name="phone" class="input" data-type="number" placeholder="Enter your phone number" required> </div>
                            <div class="group"> <label for="address" class="label">Address</label> <input id="address" type="text" name="address" class="input" data-type="text" placeholder="Enter your residential address"> </div>
                            <div class="group"> <label for="medhist" class="label">Medical History</label> <textarea id="medhist" name="medhist" type="text" class="input" data-type="text" placeholder="Enter any medical history you have"></textarea> </div>
                            <div class="group"> <label for="dob" class="label">Date of Birth</label> <input id="dob" type="date" class="input" data-type="date" placeholder="Choose your Date of Birth"> </div>
                            <div class="group"> <label for="photo" class="label">Passport-Sized Photo</label> <input id="poto" type="file" name="pprt" class="input" data-type="file" placeholder="Upload a Passport-Sized Picture"> </div>
                            <div class="group"> <label for="newpass" class="label">Password</label> <input id="newpass" type="passwd" name="password" class="input" data-type="password" placeholder="Create a strong password"> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Registered?</label> </div>
                            <input type="hidden" name="type" value="register"/>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script src="{url_for('static',filename='scripts/jquery.min.js')}"></script>
  <script src="{url_for('static',filename='scripts/scripts.js')}"></script>
  </body>
</html>