<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="{{url_for('static',filename='styles/bootstrap.min.css')}}"/>
    <link rel='icon' href="{{url_for('favicon')}}"/>
    <title>MedicAware | SOSC HackNight 2021</title>
    <!--
                                                                                                               
 _|      _|                  _|  _|              _|_|                                                      
 _|_|  _|_|    _|_|      _|_|_|        _|_|_|  _|    _|  _|      _|      _|    _|_|_|  _|  _|_|    _|_|    
 _|  _|  _|  _|_|_|_|  _|    _|  _|  _|        _|_|_|_|  _|      _|      _|  _|    _|  _|_|      _|_|_|_|  
 _|      _|  _|        _|    _|  _|  _|        _|    _|    _|  _|  _|  _|    _|    _|  _|        _|        
 _|      _|    _|_|_|    _|_|_|  _|    _|_|_|  _|    _|      _|      _|        _|_|_|  _|          _|_|_|  
                                                                                                           
                                                                                                           
    Suite of Software for Hospitals
    For SOSC HackNight 2021
    BY AADITYA RENGARAJAN
    CREATION TIMESTAMP : 22:23 10/22/21 22 10 2021
    -->
    <!-- METAS -->
    <meta charset="utf-8">
    <meta content="MedicAware - Suite of Software for Hospitals" name="description" />
    <meta content="aaditya rengarajan, aadityarengarajan, MedicAware, Suite of Software for Hospitals" name="keywords" />
    <meta name="revisit-after" content="2 days">
    <meta name="page-topic" content="Suite of Software for Hospitals">
    <meta name="page-type" content="Suite of Software for Hospitals">
    <meta name="copyright" content="Copyright  2021, MedicAware by aadityarengarajan,Suite of Software for Hospitals">
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <meta name="subject" content="MedicAware | Suite of Software for Hospitals">
    <meta name="copyright"content="MedicAware by aadityarengajan">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="abstract" content="MedicAware">
    <meta name="topic" content="MedicAware | Suite of Software for Hospitals">
    <meta name="summary" content="[HOME] MedicAware | Suite of Software for Hospitals">
    <meta name="author" content="aadityarengarajan, aaditya@intellx.co.in">
    <meta name="designer" content="MedicAware">
    <meta name="reply-to" content="aaditya@intellx.co.in">
    <meta name="owner" content="aadityarengarajan">
    <meta name="category" content="Suite of Software for Hospitals">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="og:title" content="MedicAware"/>
    <meta name="og:site_name" content="MedicAware"/>
    <meta name="og:description" content="Suite of Software for Hospitals"/>
    <meta name="og:email" content="support@intellx.co.in"/>
    <meta name="og:latitude" content="10"/>
    <meta name="og:longitude" content="80"/>
    <meta name="og:street-address" content="India"/>
    <meta name="og:locality" content="India"/>
    <meta name="og:region" content="India"/>
    <meta name="og:country-name" content="India"/>
    <meta name="twitter:title" content="MedicAware">
    <meta name="twitter:description" content="Suite of Software for Hospitals">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content="no" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale = 1, user-scalable = yes">
    <meta http-equiv="Page-Enter" content="RevealTrans(Duration=2.0,Transition=2)" />
    <meta http-equiv="Page-Exit" content="RevealTrans(Duration=3.0,Transition=12)" />
    <meta name="mssmarttagspreventparsing" content="true">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="msapplication-navbutton-color" content="blue"/>
    <meta name="application-name" content="MedicAware | Suite of Software for Hospitals"/>
    <meta name="msapplication-tooltip" content="Suite of Software for Hospitals (MedicAware)"/>
    <!-- END OF METAS -->
  </head>
  <body>
<div class="pos-f-t">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MedicAware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}">Appointments</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('register_mach')}}">Register Machine</a>
      </li>
    </ul>
    <span class="nav-text">
       <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
    </span>
  </div>
</nav>
</div>
<br/><br/>
<section id="about">
    <div class="container">
      
      
      <div class="row">
        
          <div class="col-lg-12">
            <h4>Register a Machine</h4>
          <br/>
            <form method="POST" action="{{url_for('register_mach')}}" enctype="multipart/form-data">
                <div class="group"> <label for="fname" class="label">Code</label> <input id="fname" name="code" type="text" class="input" placeholder="Equipment Code" required> </div>
                <div class="group"> <label for="eqptname" class="label">Equipment Name</label> <input id="eqptname" type="text" name="name" class="input" data-type="eqptname" placeholder="EQPT Name" required> </div>
                <div class="group"> <label for="email" class="label">Duration to generate Report (In Days)</label> <input id="email" data-type="number" name="durn" class="input" data-type="email" placeholder="Enter the time it takes to generate a report (in days)" required> </div>
                <div class="group"> <label for="phone" class="label">LAB #</label> <input id="phone" type="number" name="lab" class="input" data-type="number" placeholder="Enter the number of days it takes a report to be generated from this quipment" required> </div>
                <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
            </form>
          </div>
          
    </div>
  </section>

    <script src="{{url_for('static',filename='scripts/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/scripts.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>